<div class="container-grid">
    <div class="best">
        <div class="best-sale-card">
            <div class="layer-content">
                <div class="img-bg">
                    <figure>
                        <img src="assets/images/Bitmap.png" alt="products">
                    </figure>
                </div>
                <div class="best-sale-details">
                    <span>Report for</span>
                    <h3>Best Sales</h3>
                </div>
            </div>
            <div class="best-sale-selection">
                <p>Daily</p>
                <p>Weekly</p>
                <p>Monthly</p>
            </div>
        </div>
    </div>

    <div *ngFor="let product of allProducts; let i = index" class="card-{{i + 1}}">
        <div class="card">
            <div class="layer" [style.background-color]="getRandomColor()">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>{{ product.title | trimText : 20 }}</h3>
                    <span>...</span>
                </div>
                <div class="card-indeatils">
                    <h4>{{ product.price }}$</h4>
                    <div class="card-details">
                        <p>{{ product.description | trimText : 25 }}</p>
                        <div class="card-quantity">
                            <span>InStore</span>
                            <div class="quantity-number">{{ product.rating.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="one">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="two">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="five">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="six">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seven">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eight">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nine">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ten">
        <div class="card">
            <div class="layer">
            </div>
            <div class="card-info">
                <div class="title">
                    <h3>title mens</h3>
                    <span>...</span>
                </div>
                <h4>109,22$</h4>
                <div class="card-details">
                    <p>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                    <div class="card-quantity">
                        <span>InStore</span>
                        <div class="quantity-number">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>